<mat-card class="milestone-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>milestone1</mat-card-title>
    <mat-card-subtitle>Some content goes here</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <section class="example-section">
      <mat-progress-bar [mode]="mode" [color]="bar_color" [value]="value"></mat-progress-bar>
      <mat-progress-bar mode="buffer" value="40"></mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>

<mat-card class="milestone-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
  </mat-card-content>
</mat-card>

<mat-card class="milestone-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
  </mat-card-content>
</mat-card>

