<div>
  <mat-list *ngFor="let ms of msStoreList">
  <button mat-raised-button class="milestoneBtn">
    <div>
      <div mat-card-avatar class="example-header-image"></div>
      <p>Milestone title: {{ms.name}}</p>
      <p>{{ms.days}}</p>
      <p>start: {{ms.startDate}}</p>
      <p>end: {{ms.endDate}}</p>
    </div>
    <div>
      <section class="example-section">
        <mat-progress-bar mode="determinate" value={{ms.progressValue}} class="pBar"></mat-progress-bar>
      </section>
    </div>
  </button>
  </mat-list>
</div>


<!--<button mat-raised-button class="milestoneBtn">-->
  <!--<div>-->
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <!--<p>Milestone1</p>-->
    <!--<p>Some content goes here</p>-->
  <!--</div>-->
  <!--<div>-->
    <!--<section class="example-section">-->
      <!--<mat-progress-bar mode="buffer" value="40"></mat-progress-bar>-->
    <!--</section>-->
  <!--</div>-->
<!--</button>-->

