<div>
  <mat-list *ngFor="let ms of msStoreList">
  <button mat-raised-button class="milestoneBtn" (click)="emitMilestone(ms)">
    <div>
      <div mat-card-avatar class="example-header-image"></div>
      
      <span>Milestone title: {{ms.name}}</span>
      <button class="milestone-threedot" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Delete</span>
        </button>
        <button mat-menu-item>
          <span>Edit</span>
        </button>
      </mat-menu>
      
      <p>start: {{ms.startDate | date}}</p>
      <p>end: {{ms.endDate | date}}</p>
      <p>date: {{ms.days}}</p>
    </div>
    <div>
      <section class="example-section">
        <mat-progress-bar mode="determinate" value={{ms.progressValue}} class="pBar"></mat-progress-bar>
      </section>
    </div>
  </button>
  </mat-list>
</div>
