<div>
  <mat-list *ngFor="let ms of msStoreList">
  <button mat-raised-button class="milestoneBtn">
    <div>
      <div mat-card-avatar class="example-header-image"></div>
      <p>Milestone title: {{ms.name}}</p>
      <p>start: {{ms.startDate | date}}</p>
      <p>end: {{ms.endDate | date}}</p>
      <p>date: {{ms.days}}</p>
    </div>
    <div>
      <section class="example-section">
        <mat-progress-bar mode="determinate" value={{ms.progressValue}} class="pBar"></mat-progress-bar>
      </section>
    </div>
  </button>
  </mat-list>
</div>


