.milestone-card {
  /*width: 100%;*/
  max-width: 80%;
  margin-top: 1rem;
}

.milestoneBtn {
  width: 90%;
  margin-top: 1rem;
}

.ms_name {
  margin-top: 1rem;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.milestone-threedot {
  float: right;
}
