#header {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background-color: darkgrey;
  /* height: 3rem; */
}

.mat-toolbar {
  background-color: darkgrey;
}

.mat-button {
  float: right;
  margin-left: 80%;
  background-color: white;
  /* border: solid;
  border-width: 0.1rem;
  border-color: black; */
}

#container {
  display: flex;
  width: 100%;
  align-content: stretch;
  justify-content: flex-start;
  margin-top: 1rem;
}

#msContainer {
  width: 40%;
}

#calContainter {
  width: 40%;
}

#sideContainer {
  width: 20%;
}

.addMilestoneBtn {
  margin-top: 1rem;
  width: 90%;
  height: 3rem;
}
