<section class="mat-typography">
  <mat-toolbar id="header">Milestone Add Page</mat-toolbar>
  <div id="container">
  <div id="leftContainer">
    <mat-form-field>
      <input matInput placeholder="name of the milestone" [(ngModel)]="title" required>
    </mat-form-field>
    <p>{{title}}</p>
    <mat-form-field>
      <input matInput [matDatepicker]="spicker" placeholder="Start Date" [(ngModel)]="startDate" required>
      <mat-datepicker-toggle matSuffix [for]="spicker"></mat-datepicker-toggle>
      <mat-datepicker #spicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="epicker" placeholder="End Date" [(ngModel)]="endDate" required>
      <mat-datepicker-toggle matSuffix [for]="epicker"></mat-datepicker-toggle>
      <mat-datepicker #epicker></mat-datepicker>
    </mat-form-field>

  <div>
    <h1>Days to Work on Milestone</h1>
    <form name="weekdays">
      <mat-checkbox value="Mon" name="monday" [(ngModel)]="mon">Monday</mat-checkbox>
      <mat-checkbox value="Tue" name="tuesday" [(ngModel)]="tue">Tuesday</mat-checkbox>
      <mat-checkbox value="Wed" name="wednesday" [(ngModel)]="wed">Wednesday</mat-checkbox>
      <mat-checkbox value="Thur" name="thursday" [(ngModel)]="thurs">Thursday</mat-checkbox>
      <mat-checkbox value="Fri" name="friday" [(ngModel)]="fri">Friday</mat-checkbox>
      <mat-checkbox value="Sat" name="saturday" [(ngModel)]="sat">Saturday</mat-checkbox>
      <mat-checkbox value="sun" name="sunday" [(ngModel)]="sun">Sunday</mat-checkbox>
    </form>
  </div>
  </div>
  
  </div>

  <button mat-button (click)="saveMilestone()">
    save
  </button>
  <button mat-button (click)="cancel()">
    cancel
  </button>
</section>
